{% extends "base.html.twig" %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block title %}{{ 'add_newCategory'|trans }}
{% endblock %}

{% block body %}
	<main class="container">
		{{ form_start(form) }}
		{{ form_widget(form) }}
		<button type="submit">{{ 'addCategory'|trans }}</button>
		{{ form_end(form) }}
	</main>
{% endblock %}
