{% extends 'base.html.twig' %}

{% block title %}Série #{{ program.id }}
{% endblock %}

{% block body %}

	<div class="media ms-5 me-5">
		<h1 class="mt-5 d-flex justify-content-center">{{ program.title }}</h1>
		<p class="d-flex justify-content-center">Catégorie :
			{{ program.category.name }}</p>
		<div class="media-body">
			<div class="d-flex">
				<img class="align-self-start mr-3 mb-5" src="{{ program.poster }}" alt="{{ program.title }} poster">
				<p class="align-self-center">{{ program.summary }}</p>
			</div>
			{% for season in seasons %}
				<div class="card-group" style="width: 18rem;">
					<div class="card d-flex">
						<div class="card-body">
							<h2 class="card-title fs-3">Saison
								{{ season.number }}</h2>
							<p class="card-text">Année :
								{{ season.year }}</p>
							<p class="card-text">{{ season.description }}</p>
							<a href="{{ path('program_season_show',{programId: season.program.id, seasonId: season.id }) }}">Voir la fiche</a>
						</div>
					</div>
				</div>
			{% endfor %}
			<a href="{{ path('program_index') }}">Retour à la liste des programmes</a>
		</div>
		<strong>Acteurs :</strong>
		<ul>
			{% for actor in program.actors %}
				<h4 href="{{ path('actor_show', { id: actor.id }) }}">{{ loop.index }}
					-
					{{ actor.name }}</h4>
				<li>{{ actor.name }}
				</li>
			{% else %}
				<li>Aucun acteur pour cette série</li>
			{% endfor %}
		</ul>
	{% endblock %}
