{% extends 'base.html.twig' %}

{% block title %}{{ 'allActors'|trans }}
{% endblock %}

{% block body %}
	<main class="container mb-3">
		<h1 class="d-flex justify-content-center mt-3 mb-5">{{ 'allActors'|trans }}</h1>
		{% for actor in actors %}
			<div class="row">
				<div class="col-md-4">
					<img src="{{ vich_uploader_asset(actor) }}" class="image img-fluid rounded-start mt-5" alt="{{ actor.image }}">
				</div>
				<div class="col-md-8 align-self-center">
					<div class="card-body">
						<h2>{{ actor.name }}</h2>
						<div>
							<a class="text-light" href="{{ path("actor_show", { id: actor.id }) }}">{{ actor.name }}</a>
							<a class="btn btn-outline-primary text-dark text-decoration-none ms-5" href="{{ path('actor_delete', { id: actor.id} ) }}">{{ 'delete'|trans }}</a>
						</div>
					</div>
				</div>
			</div>
			<a class="btn btn-outline-primary text-dark mt-3 text-decoration-none" href="{{ path('actor_edit', { id: actor.id} ) }}">{{ 'edit'|trans }}</a>
			{% else %}{{ 'noActor'|trans }}
		{% endfor %}
	</main>
{% endblock %}
