{% extends 'base.html.twig' %}

{% block title %}Les séries de
	{{ actor.name }}
{% endblock %}

{% block body %}
	<main class="container">
		<h2 class="card-title d-flex justify-content-center mt-5 mb-5">Les séries de "{{ actor.name }}"</h2>
		{% for program in actor.programs %}
			<div class="card-body">
				<img class=" image align-self-start mr-3 mb-2" src="{{ program.poster }}" alt="{{ program.title }} poster">
				<div>
					<a class="btn btn-secondary " href="{{ path("program_show", { id: program.id }) }}">{{ program.title }}</a>
				</div>
			</div>
		{% endfor %}
	</main>
{% endblock %}
